img {
    width: 100%;
    height: 200px;
}

.img1 {
    width: 100%;
    height: 200px;
}

.banner {
    width: 100%;
    height: 200px;
}

.flex-container {
    padding-top: 50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.product-container {
    width: 250px;
    height: 400px;
    padding-right: 60px;
   
}


.img1 {
    width: 250px;
    height: 250px ;
    margin-left: auto;
    margin-right: auto;
}

.imgAcl{
    width: 100%;
    height: 100%;
}

.productName{
    font-weight: bold;
}

.productButton{
    margin-top: 10px;
    width: 100%;
    background-color: black;
    color: white;
    height: 30px;
    
}
.numArea {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.productPrice{
    padding-right: 10px;
}

.productPriceStrike{
    text-decoration: line-through;
}

.textContent{
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.heading1 {
    font-size: 30px;
    font-weight: bold;

}

.paragraph {
    line-height: 25px;
    padding-top: 10px;
}

.heading2{
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}


