
 img {
    width: 100%;
    height: 240px;
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(4,300px);
    justify-content: center;
    padding-top: 50px;
}
@media only screen and (min-width:0px) and (max-width:300px){
    .flex-container{
        grid-template-columns: repeat(1,300px);
    }   
}
@media only screen and (min-width:301px) and (max-width:600px){
    .flex-container{
        grid-template-columns: repeat(2,300px);
    }   
}
@media only screen and (min-width:601px) and (max-width:900px){
    .flex-container{
        grid-template-columns: repeat(3,300px);
    }   
}

.product-container {
    width: 275px;
    height: 450px;
    padding-right: 60px;
    /* border: 1px solid red; */
   
}
.product-container>h4{
    margin-top: 3px;
    font-size: 22px;
    padding: 0px;
}

.price_flex{
    /* border: 1px solid red; */
    width: 200px;
   
    display: flex;
    text-align: center;
    align-items: center;
     justify-content: center; 
     justify-content: space-around; 
     margin-top: -8px;
     font-size: 16px;
}
.price_flex p{
   margin: 0px;
   margin-top: 5px;
   margin-left: auto;
   margin-right: auto;
   
}
.price_flex>:nth-child(2){
    text-decoration: line-through;
    color: gray;
}
.price_flex>:nth-child(3)
{
    color: red;
    
}
.label_div{
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 5px;
    justify-content: space-evenly;
   margin-top: 8px;
}
.label_div1
{
   color: orange;
    /* width: 95px; */
    width: 100px;
    height: 30px;
    text-align: center;
    align-items: center;
}
.label_div2
{
    color: blue;
    /* width: 95px; */
    width: 100px;
    height: 30px;
    text-align: center;
    align-items: center;
}

.productButton:link, .productButton:visited{
   
    width: 100%;
    background-color: black;
    color: white;
    height: 50px;
    padding: 15px 12px 15px 12px;
    text-decoration: none;
    
}
.Buttonlink{
    color: white;
    text-decoration: none;
    
}

.productButton:hover, .productButton:active {
        background-color: black;
        padding: 15px 12px 15px 12px;
}